:root{
  /* ========== Color ========== */
  --sidebar-color: #e8e8e8;
  --primary-color: #534FEB;
  --body-color: #fff;
  --text-color: #333;


  /* ========== Transition ========== */
  --tran-02: all 0.2 ease;
  --tran-03: all 0.3 ease;
  --tran-04: all 0.4 ease;
  --tran-05: all 0.5 ease;
}

body {
  height: 100vh;
  color: var(--body-color);
}